 body{
    background: rebeccapurple (238, 194, 194)
    font: normal 14pt ARIAL;
    color: rgb(252, 252,252)
}


header{
    color: pink; (14, 14, 14)
    text-align: center;
    font: normal 14pt Arial;


}


section{
    background: brown; (133, 81, 81)
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin:auto;
    box-shadow: 5px 5px 5px brown(132, 129, 129);
}

div {
    text-align: center;
    padding: 5px;
}

#foto{
    border-radius:50%;
    border-width: 100%;
    scale: 50%;   
     
}

footer{
    color:white;
    text-align: center;
    font-style: bold;


}